[2020-02-03 13:20] agievich opened #1 "Упрощение требований-выражений"
Требования представлены в виде логических выражений, связанных кванторами И (запятая) и ИЛИ. Одно логическое выражение может быть частью другого (вложение через круглые скобки). Логические выражения, окаймленные квадратными скобками, могут опускаться. Элементарные логические выражения -- это требования из таблицы 1. Вот такой формализм.

Если мы имеем дело с логическими выражениями, то естественно

[2020-02-03 13:42] zm1ca commented on #1
`УС2 или (УС2, УС5)` появилось, скорее всего, в ходе редакторских правок, ещё до введения обозначения [ ] и действительно выбивается из общей логики, спасибо.

На данный момент опциональные требования имеют служат для отображения возможностей по созданию разнообразных продуктов, с сохранением приемлемого уровня требований в зависимости от использования или игнорирования тех или иных функций. То ес

[2020-02-03 14:05] agievich opened #2 "Требования-паззлы"
Некоторые ячейки в таблице 2 очень трудно понять. Это паззлы. По-видимому, ячейки соответствуют каким-то конкретным СКЗИ каких-то конкретных разработчиков. По-видимому, разработчики закодировали функционал своих средств, не задумываясь о декодировании. А декодирование может оказаться непростым делом.

Вот ближайший пример. Средство предварительного шифрования: `AШ...` и `УГ1 или УГ2, ПФ1 или УК5,

[2020-02-03 14:32] zm1ca commented on #2
Да, паззл собран верно. Касательно спорности данного пути лично я согласен, однако одним из наших курсов (как выяснилось в ходе обсуждения данного момента) является предоставление максимальной вариативности решений для разработчиков в рамках сохранения их качества.

Не вполне уверен, что пояснения всех маршрутов приемлемо для строгого формата, в который помещена данная таблица. В то же время
, мы

[2020-02-03 14:34] zm1ca opened #3 "Опечатка в требовании"
В профилях требований к СКЗИ линейного шифрования явно допущена опечатка: `[ПФ4] или УК5`.

[2020-02-03 14:47] zm1ca opened #4 "Отсутствие программно-аппаратных средств выработки ЭЦП"
В предложениях и вопросах по требованиям к СКЗИ неоднократно был поднят вопрос об отсутствии программно-аппаратных средств выработки ЭЦП.

Пояснение: в качестве программно-аппаратных средств выработки ЭЦП предлагается использовать СКЗИ класса **криптографические токены**.

Данная позиция вызвала ряд вопросов, поэтому предлагается для предметной критики/обсуждения здесь.

[2020-02-04 06:59] zm1ca commented on #3
В маршруте `*УГ1 или УГ2, ПФ2, [ПФ5] или УК1 или УК5` требование `[ПФ5]` было добавлено для обеспечение возможности постепенного отказа от отдельного использования криптонаборов из СТБ 34.101.65-2014, которые ранее были указаны в профилях требований. То есть, разработчикам средств СКЗИ предлагается выбрать`ПФ2 или УК1 или УК5`, а также поддерживать и сертифицировать возможность формирования общего

[2020-02-04 08:23] zm1ca opened #5 "Схожие маршруты"
На данный момент существует два маршрута требований к криптографическим протоколам и управлению ключами для криптографических токенов:
- `УГ1 или УГ2, ПА1, ПИ, УК1, УК2, УКЗ, УК4, УК5, УС1, УС2`
- `УГ1 или УГ2, ПА1, ПА2, ПИ, УК1, УК2, УКЗ, УК4, УК5, УС1, УС2, УС7`

Первый вариант создан как замена программно-аппаратным средствам выработки ЭЦП (см [issue #4](https://github.com/bcryptoregulatory/skz

[2020-02-04 09:51] NikGomel commented on #5
Первый маршрут предназначен для выработки ЭЦП на localhost.
Второй маршрут предназначен для возможности выработки ЭЦП в терминальном режиме, т.е. на удаленном host.

[2020-02-04 09:54] zm1ca commented on #3
Первое решение принимается. Второе отвергается с пояснением: для безопасного транспорта ключа предлагается использовать либо СОК, либо предварительно распределённые секреты.

[2020-02-04 09:54] #3 closed, assigned to zm1ca

[2020-02-04 11:32] NikGomel commented on #1
Требования к формату предъявляются в примечании  таблице 2 пункт 5. Где сказано, что при взаимодействии информационных систем требования к форматам обязательно.

[2020-02-04 13:07] zm1ca commented on #5
Предлагается следующая редакция примечаний к Таблице 2 (с учётом ранее озвученного предложения):

[2020-02-04 16:08] saverchenko opened #6 "Корректировка профиля"
В средствах линейного шифрования второй профиль предлагаем изложить в следующей редакции: УГ1 или УГ2, ПФ1 или ПФ3 или УК5, AX1 или AX2, УС2, УС3 или УС4. Необязательные криптографические механизмы предлагаем не указывать и от применения квадратных скобок отказаться.

[2020-02-05 06:27] zm1ca commented on #6
1. Требования ПФ1 (BSTS и BMQV) и ПФ2 (BPACE) являются, в сущности,
 усиленными вариантами ПФ3 (протокол Диффи-Хеллмана). Принимая во внимания тот факт, что в ПФ3 приводится ссылка на справочное приложение, мы предлагаем разработчикам переходить на более защищённые (от атак "человек посередине") версии протокола формирования общего ключа. Дополнительная защищённость может быть достигнута следующим

[2020-02-05 08:16] #5 closed, assigned to zm1ca, NikGomel

[2020-02-05 09:02] Alex-ITTAS opened #7 "ИТТАС:Предложение 1: Добавить новые механизмы DHE_BIGN, DHT_BIGN согласно СТБ 34.101.65-2014 (п.п. B.2.5.1, B.2.5.2)."
**Предлагается** в таблицу 1 в дополнение к ПФ4 (алгоритм DHE_PSK_BIGN) и ПФ5 (алгоритм DHT_PSK_BIGN) добавить новые механизмы формирования общего ключа: ПФ6 – формирование общего ключа по алгоритму DHE_BIGN согласно СТБ 34.101.65-2014 (п. B.2.5.1); ПФ7 - формирование общего ключа по алгоритму DHT_BIGN согласно СТБ 34.101.65-2014 (п. B.2.5.2).

**Обоснование.**
Многие разработчики реализовали VPN

[2020-02-05 09:03] Alex-ITTAS opened #8 "ИТТАС:Предложение 2: Изменить профиль для ПФ3."
Для средств линейного шифрования строку с требованиями
            УГ1 или УГ2, ПФЗ, УК1, У31, У32
**предлагаем** заменить на строку
           УГ1 или УГ2, ПФЗ, УК1, У31

**Обоснование.**
У32 определяет требования к формату и механизмам защиты ключевого контейнера. При этом согласно СТБ 34.101.78-2019 (пп. 11.2-11.5 раздела 11) и СТБ 34.101.45-2013 (приложение Е) в ключевом контейнере может храни

[2020-02-05 09:04] Alex-ITTAS opened #9 "ИТТАС:Предложение 3: Изменить профиль для средства линейного шифрования с необязательными протоколами ПФЗ, ПФ4."
Для средств линейного шифрования строку с требованиями
            УГ1 или УГ2, ПФ1 или УК5, УС2, УСЗ или УС4, [ПФЗ], [ПФ4]
**предлагаем** заменить на строку
     УГ1 или УГ2, ПФ1 или ПФЗ или ПФ5 или ПФ6 или ПФ7 или УК5, УС2, УСЗ или УС4.

**Обоснование.**
По текущим требованиям в средстве линейного шифрования одновременно может использоваться ПФ1 (формирование общего ключа по протоколам BSTS и BM

[2020-02-05 09:05] Alex-ITTAS opened #10 "ИТТАС:Предложение 4: Добавить новый профиль, предполагающий использование алгоритма DHE_PSK_BIGN согласно СТБ 34.101.65-2014 (п. B.2.5.3)"
Для средств линейного шифрования **предлагается** добавить в профиль следующую строку:
Требования к криптографическим алгоритмам: (АШ, АИ1) или (АШ, АИ2) или АШИ
Требования к криптографическим протоколам и управлению ключами: *УГ1 или УГ2,  ПФ4, [УК1]
Требования безопасности: Б1 или Б2

**Обоснование.**
В текущих сертифицированных ОАЦ средствах канального шифрования нашей компании реализованы имен

[2020-02-05 09:59] zm1ca commented on #8
Требование У32 было включено в связи с необходимостью предъявить общие требования к программным криптографическим контейнерам. Считаем необходимым сохранить в требованиях идеи, заложенные в СТБ 34.101.78-2019 (раздел 11).

**Предлагается** добавить в таблицу 1 механизм УЗ3 "защита ключа по паролю" СТБ 34.101.45 (приложение Е), а в качестве пароля использовать высокоэнтропийный ключ, который защища

[2020-02-05 10:01] zm1ca commented on #8
Поскольку вопрос непосредственно затрагивает использование идеи программного криптографического контейнера, интересно услышать мнение @agievich

[2020-02-05 10:06] NikGomel commented on #9
Допущена опечатка, требования ПФ4 и ПФ5 поменяем местами. Поддерживается предложение о расширении криптонаборов. В требования ПФ5 можем включить следующие криптонаборы DHT_PSK_BIGN или DHT_BIGN или DHE_BIGN, или добавить их отдельно как  ПФ6 и ПФ7. Но они будут иметь необязательный характер.

[2020-02-05 10:48] Alex-ITTAS commented on #9
Считаем, что для лаконичности профилей лучше в ПФ5 включить криптонаборы DHT_PSK_BIGN или DHT_BIGN или DHE_BIGN.
Не совсем понятно, что значит "Но они будут иметь необязательный характер". Считаем, что ПФ5 нужно писать через ИЛИ. Иначе получится, что ПФ1 или УК5 нужно обязательно реализовывать, а ПФ5 дополнительно. Но в vpn с криптонаборами DHE не нужны протоколы ПФ1 или транспорт ключа УК5. В слу

[2020-02-05 11:11] zm1ca commented on #9
Предложение добавить ПФ3 было внесено S-Terra (к обсуждению целесообразности приглашается @saverchenko), с целью обеспечить совместимость с ранее выпущенным оборудованием. По аналогии с Вашими предложениями добавить криптонаборы в качестве отдельных механизмов, данное требование было добавлено как рекомендательное (в соответствии с п.2 Примечаний к Таблице 2).

Да, на данный момент логика именно т

[2020-02-05 11:26] zm1ca commented on #9
Соответствующие изменения внесены b1bcdc01e054092cd96d0202a831d23fb7bdef3a

[2020-02-05 11:51] zm1ca commented on #10
В текущем варианте Таблицы 2 предполагается сертификация описанных Вами средств по профилю `*УГ1 или УГ2, ПФ2 или УК1 или УК5, [ПФ4]`.

Мы стараемся сделать свои требования простыми и лаконичными, поэтому стремимся добавлять новые профили в Таблицу 2 только в случаях, когда их отсутствие связывает руки разработчикам. Дополнительно предлагаем ознакомиться с замечанием #2, а именно:

[2020-02-05 11:54] NikGomel commented on #9
ПФ4 и ПФ5 предлагается оставить  таблице 2 как необязательные, для того чтобы поддержать совместимость со старыми продуктами. Данные криптонаборы разрабатывались специально для протокола TLS.  Целесообразность их использования как отдельных алгоритмов предлагается обсудить с @agievich.

[2020-02-05 12:44] zm1ca commented on #7
Данное предложение учтено и обсуждается как часть #9. Соответствующие механизмы добавлены в b1bcdc01e054092cd96d0202a831d23fb7bdef3a.

[2020-02-05 12:44] #7 closed, assigned to zm1ca, NikGomel

[2020-02-05 12:50] NikGomel commented on #4
Предлагается средства выработки ЭЦП разделить на два подкласса:
1. программные средства выработки ЭЦП.
2. криптографический токен (программно-аппаратное средство выработки ЭЦП)

[2020-02-05 12:55] zm1ca commented on #1
Вопрос упрощения требований рассмотрен и учтён (0bdedcc3bc9b6ad4e8229f950a49fe98905c759a). Понятие опционального требования дополнительно затронуто в #5 и частично изменено (87e92dfe01a734fafec42212968265dd6649968b). Однако, по видимому, оно требует дальнейшей доработки параллельно с внесением прочих изменений.

[2020-02-05 12:55] #1 closed, assigned to zm1ca

[2020-02-06 08:18] Alex-ITTAS commented on #10
У нас имеется средство, реализующее vpn. В данном средстве формирование общего ключа и аутентификация сторон выполняется по ПФ4 (DHE_PSK_BIGN). Данный протокол является безопасным и самодостаточным.
При этом нет необходимости в использовании ПФ2 или УК1 или УК5: 1) ПФ2 не используется, так как формирование общего ключа выполняется по ПФ4; 2)  УК1 не используется, так как согласно стандарту на vpn

[2020-02-06 09:04] zm1ca commented on #10
Распределённый заранее секрет может быть основой для построения предварительного мастер-ключа (см. **PSK** в п.6.2.4 СТБ 34.101.65). Мы допускаем использование алгоритма преобразования ключа (СТБ 34.101.31-2011 (п. 7.2 раздела 7)) как для обновления ключа после шифрования заданного объема данных, так и для обработки заранее сформированных общих ключей, при условии соблюдения мер защиты (см. п 6.3.

[2020-02-07 09:28] NikGomel opened #13 "Использование формата шифрованных данных"
Предлагается при использовании защиты ключа по паролю, зашифрованный ключ хранить с соблюдением формата в соответствии с СТБ 34.101.23 п. 11

[2020-02-08 09:02] saverchenko commented on #6
1.	А как добавление УЗ2 к профилю с ПФ3 поможет решить проблему в классическом протоколе Диффи-Хеллмана атака злоумышленника "посередине"? В ПФ3 (приложение А) описан не только классический протокол Диффи-Хеллмана, но и механизмы решения данной проблемы. В чистом виде этот протокол никто не использует. Между тем реализация дополнительных механизмов безопасности (применение сертификатов открытых кл

[2020-02-09 13:18] enigmaby opened #15 "Генерация ключей"
Предлагаем при генерации личных ключей включить в обязательном порядке только требование УГ1 (псевдослучайный  датчик в это требование включен в соответствии с п.5.6 СТБ.34.101.27), а УГ2 исключить из требований, так как считаем, что с использованием только псевдослучайного датчика сгенерировать криптографически стойкий ключ невозможно.

[2020-02-09 13:26] enigmaby opened #16 "Средства управления открытыми ключами"
Считаем, что требования "Средства выработки ЭЦП" и "Средства проверки ЭЦП" избыточны, в виду того, что сертификаты могут не использоваться при построении прикладных систем. Кроме того в Законе об электронном документе и в СТБ 34.101.45 требования к составу ЭЦП (выработка, проверка, генерация личных и открытых ключей подписи) не предусматривают средства управления открытыми ключами.

[2020-02-09 13:45] enigmaby opened #17 "Требования к средствам линейного шифрования"
Предлагаем исключить из требования к Средствам линейного шифрования при использовании схемы с Требованиями к криптографическим протоколам и управления ключами "УГ1 или УГ2" исключить из Требований к криптографическим алгоритмам "АХ1 или АХ2", оставив только требование "АШИ".

[2020-02-10 07:55] zm1ca commented on #17
Предоставленная формулировка требует дополнительных пояснений. Возможно, речь об `АИ1 или АИ2`? Если речь об `*УГ1 или УГ2, АХ1 или АХ2`, то алгоритмы хэширования здесь указаны в связи с требованием СТБ 34.101.27 СЧ.6. Предложение будет рассматриваться, однако приветствуется его дополнение обоснованиями.

[2020-02-10 08:05] zm1ca commented on #16
Выдвигаемые требования к указанным Вами классам СКЗИ основаны на том, что нами проводится сертификация средств, имеющих дело с юридически значимыми ЭЦП, см. п.4 Примечаний к таблице 2:

Мы обратили внимание на данную проблему и готовы рассмотреть более конкретные предложения.

[2020-02-10 08:17] zm1ca commented on #15
Данный факт не подвергается сомнению, однако мы не ставим целью данной таблицы установление строгих ограничений к ГСЧ/ГПСЧ. Это связано с тем, что всякий ключ предназначен для использования в каком-либо криптографическом алгоритме, описанном в некотором стандарте. В этом же стандарте содержатся требования по генерации соответствующих ключей, продиктованные целью применения ключа.

Кроме того, мы с

[2020-02-10 09:16] zm1ca commented on #6
1. Совершенно верно, никак. Мы подразумеваем (и в одной из редакций так и именовали данный механизм) использование протокола ZRTP в качестве аналога ПФ1 и ПФ2. Что касается изменений, которые разработчики считают необходимыми для внесения при реализации протокола Диффи-Хеллмана: если они действительно привносят удобство без существенного снижения уровня стойкости, может быть стоит сформулировать д

[2020-02-10 10:40] NikGomel commented on #15
Не все программные средства выработки ЭЦП имеют в своем составе хорошие источники случайности, а в большинстве случаев их вообще нет. Поэтому использование ГПСЧ решает эту проблему.

[2020-02-11 07:49] saverchenko commented on #6
1. На наш взгляд вносить изменения в СТБ 34.101.66 не стоит. В нем и так уже указано, что: "Для защиты от злоумышленника «посередине» протокол Диффи – Хеллмана **должен** сопровождаться дополнительными механизмами безопасности. Фактически протокол Диффи — Хеллмана должен являться составной частью некоторого высокоуровневого протокола, который эти механизмы поддерживает..." и т.д.
2. Да, вы правы,

[2020-02-11 08:11] zm1ca commented on #6
Наши опасения вызывает, в основном, тот факт, что хоть и используется слово "должен", приложение является справочным, и не вполне понятно кто и как будет оценивать и испытывать качество экспериментальных решений. Я согласен, что раньше пункт ПФ3 был, и разработка велась добросовестно. Проблема в том, что мы направлены на конкретизацию требований, но и существующих требований не всегда оказывается

[2020-02-11 09:11] #9 closed, assigned to zm1ca, NikGomel

[2020-02-11 10:08] agievich commented on #4
"Средство выработки ЭЦП" -- это стабильный класс СКЗИ, с которого собственно все и начиналось (см. первый Закон об ЭЦП). Считаю, что не следует сужать класс до программных средств.Криптографические токены в стиле BTOK -- это не просто средства ЭЦП. Это и дополнительный функционал, и достаточно жесткая архитектура.

Считаю, что лучше выделить 2 блока (строки): программные средства (с Б1) и аппаратн

[2020-02-11 10:35] agievich commented on #2
Я все-таки считаю, что нужно в каком-то виде зафиксировать, что подразумевается под тем или иным набором требований в той или иной ячейке. Может быть для начала добавить в репозиторий файл с комментариями по запутанным позициям. Иначе ситуация останется субъективной, допускающей разные трактовки.

[2020-02-11 10:41] agievich opened #20 "Средства генерации личных и открытых ключей"
Название "Средства генерации личных и открытых ключей для средств ЭЦП" не очень удачно. Во-первых, "средства для средств". Во-вторых, пары ключей могут использоваться не только в алгоритмах ЭЦП, но еще и в алгоритмах транспорта (УК5), в протоколах (ПФ1).

Предлагаю сократить: ""Средства генерации личных и открытых ключей".

[2020-02-11 10:56] agievich commented on #6
Я поддерживаю сохранение `ПФ3` и исключение `АХ1 или AX2` как обязательного требования.

Насколько я понимаю, работа по классу "Средства линейного шифрования" ведется максимально активно. На сегодняшний день класс распадается на 5 подклассов (строчек в таблице 2). Некоторые ячейки в таблице без комментариев (см. #2) понять очень трудно, можно только догадываться.

[2020-02-11 12:24] NikGomel commented on #20
Предложение принимается. Но название, скорее всего, будет соответствовать Закону «Об электронном документе и электронной цифровой подписи», а именно «средство выработки личного ключа или открытого ключа»;

[2020-02-11 12:29] agievich commented on #8
Да, действительно в контейнере BPKI (СТБ 34.101.78) может храниться либо ключ Bign, либо ключ Bels. Идентификатор для хранения ключа Bake формально не предусмотрен. Но личный ключ Bake можно использовать в алгоритмах bign-sign (см. п. 5.4 СТБ 34.101.66). Поэтому этот ключ вполне можно хранить в контейнере с идентификатором `BignAlgorithmIdentifier`. При описании механизма УЗ2 можно ввести разрешен

[2020-02-11 12:36] NikGomel commented on #8
Введение УЗ3 предполагает не только хранения ключей Bake, а для защиты всех долговременных критических объектов СКЗИ. При этом планируется ввести и формат для хранения такого объекта, в виде структуры шифрованных данных СТБ 34.101.23.

[2020-02-11 12:45] agievich commented on #10
Поддерживаю предложение о расширении функционала `УК1`.

Профиль `*УГ1 или УГ2, ПФ2 или ПФ4 или УК5, [УК1]` выглядит логично.

Профиль `*УГ1 или УГ2, ПФ2 или УК1 или УК5, [ПФ4]` нет.

[2020-02-11 13:52] zm1ca commented on #6
По сути, эти 5 строк можно объединить в группы
- на основе предварительно распределенного секрета
- на основе сертификатов
- TLS

+ ZRTP (ни сертификатов, ни предварительно распределённого секрета в полной форме)

Естественно было бы объединить маршруты (пока без учёта https://github.com/bcryptoregulatory/skzi-requirements/issues/10#issuecomment-584617440 )`*УГ1 или УГ2, ПФ2 или УК1 или УК5, [ПФ4]

[2020-02-11 14:12] zm1ca commented on #2
Согласен. В сущности, это и было одной из целей создания данного репозитория. На данный момент все наши пояснения и комментарии действительно трудно собрать разработчику, поскольку они разбросаны по разным веткам обсуждения.

Данное предложение будет реализовано по мере наличия возможностей.

[2020-02-11 14:12] #2 closed, assigned to zm1ca

[2020-02-11 15:30] Alex-ITTAS opened #23 "ИТТАС: Предложение 5: Изменить профиль для средства линейного шифрования с ПФ5."
Ранее в #9 уже обсуждался профиль с ПФ5, но обсуждение было закрыто по непонятным нам причинам. Считаем, что обсуждение стоит продолжить.
Сейчас имеется профиль
УГ1 или УГ2, ПФ1 или УК5, УС2, УСЗ или УС4, [ПФЗ], [ПФ5]
Считаем, что такой профиль некорректен по следующей причине.
По текущим требованиям ПФ5 нельзя использовать без ПФ1 (BSTS или BMQV) или УК5 (транспорт ключа). Но, например, в средств

[2020-02-11 15:46] NikGomel commented on #23
ПФ5 предлагается оставить таблице 2 как необязательные, для того чтобы поддержать совместимость со старыми продуктами. Данные криптонаборы разрабатывались специально для протокола TLS. Целесообразность их использования как отдельных алгоритмов предлагается обсудить с @agievich.

[2020-02-12 08:20] Alex-ITTAS commented on #8
Согласны, что использование для ключа bake криптоконтейнера, определенного в СТБ 34.101.78, требует на данный момент минимальных усилий (не нужно объяснений, объявления дополнительных идентификаторов и т.д.) .
Хотелось бы в рамках данного issue обсудить и более общий вопрос относительно криптоконтейнеров.
В некоторых программных средствах в криптоконтейнере может храниться, например, psk-ключ, клю

[2020-02-12 08:21] Alex-ITTAS commented on #10
Согласны, что профиль `*УГ1 или УГ2, ПФ2 или ПФ4 или УК5, [УК1]` выглядит более логично. Отметим также, что в #23 рассматривается аналогичный вопрос, но уже с ПФ5. Наше **предложение** состоит в том, чтобы для средств линейного шифрования в соответствующих профилях разрешить использовать ПФ4 и ПФ5 как полноценные протоколы (т.е. писать их через ИЛИ, а не как необязательное дополнение к другим прот

[2020-02-12 08:32] zm1ca commented on #10
Полагаю, мы собрали достаточное количество мнений и полноценно озвучили текущую позицию. Окончательное решение принимается руководством, так что, судя по всему, вопрос (в сущности, все вопросы по средствам вам канального шифрования) откладывается до понедельника. Благодарим за активное участие.

Было бы удобно, если бы вы представили обобщённое видение обсуждённых вопросов по средствам канального

[2020-02-12 08:34] agievich commented on #8
Разумное (и подпадающее под стабильные механизмы) решение по защите критических данных произвольной природы:
1. Критические данные зашифровываются (`bign-keytransport`) на открытом ключе владельца. Формат после защиты  -- конвертованные данные СТБ 34.101.23. Или даже свободный формат, ведь здесь вопрос о совместимости не стоит.
2. Личный ключ владельца погружается в контейнер СТБ 34.101.78 (иденти

[2020-02-12 08:47] agievich commented on #23
Строчка
[code]
мне кажется нелогичной. Она может быть раскрыта и вот так: ``... ПФ1, ПФ3...`` и вот так ``...УК5, ПФ3, ПФ5,...`` и еще многими разными способами.

Поддерживаю предложение
[code]

[2020-02-12 08:59] agievich commented on #17
Если в `*УГ1 или УГ2, АХ1 или АХ2` подразумевается (снова возвращаемся к вопросу #2 об интерпретации требований!), что `АХ1 или АХ2` нужно для криптографической постобработки при генерации СЧ, то `АХ1 или АХ2` следует исключить:
- способов постобработки может быть много и, таким образом, связка `АХ1 или АХ2` не является обязательной;
- постобработка не нужна, если выбрана опция `УГ2`.

[2020-02-12 10:32] Alex-ITTAS commented on #8
В tls и vpn при использовании криптонабора DHE_PSK_BIGN долговременными ключами, которые нужно хранить, являются только секретные psk-ключи и, возможно, ключ и синхропосылка генератора псевдослучайных чисел. При этом надобности в личных и открытых ключах нет. Поэтому решение по зашифрованию psk-ключей на открытом ключе будет избыточным, требующим реализации алгоритмов транспорта ключа, организации

[2020-02-12 11:32] agievich commented on #8
Я отвечал на общий вопрос, пытаясь не выйти за рамки стандартных механизмов.

Не считаю, что следует определяться с форматами контейнеров и алгоритмами их защиты. Эти криптоиженерные вопросы, которые относятся к экспорту критических объектов за пределы криптографической границы. Ответы на вопросы дает СТБ 34.101.27. Если ответы не устраивают, просьба давать предложения вот здесь: https://github.co

[2020-02-13 15:07] saverchenko commented on #23
Мы тоже согласны с последним предложением:
УГ1 или УГ2, ПФ1 или ПФЗ или ПФ5 или УК5, УС2, УСЗ или УС4

[2020-02-20 14:06] zm1ca opened #24 "Изменение формата таблиц"
Поскольку одним из приоритетов при переработке таблиц является сокращение их объёма, выносятся на рассмотрение следующие предложение (которые следует рассматривать как независимые и требующие доработки и обсуждения):
1. Таблица 1 упраздняется
2. Удаляется столбец с требованиями к безопасности, а информация из него переносится в примечания.
3. Аналогично п.3 удаляется столбец с форматами данных
4.

[2020-02-21 06:22] #20 closed, assigned to NikGomel

[2020-02-21 06:52] #4 closed, assigned to zm1ca, NikGomel

[2020-02-21 06:52] #6 closed, assigned to zm1ca, NikGomel

[2020-02-21 06:52] #10 closed, assigned to zm1ca, NikGomel

[2020-02-21 06:52] #17 closed, assigned to zm1ca, NikGomel

[2020-02-21 06:52] #23 closed, assigned to NikGomel

[2020-02-21 06:54] zm1ca commented on #15
Согласно СТБ 34.101.45 в качестве личных ключей подписи могут быть использованы ключи, полученные с помощью ГПСЧ, следовательно возможно использования средства генерации личных ключей по назначению с механизмом УГ2.

**кроме того:**
` мы считаем допустимыми обоснованные решения по построению СКЗИ, при которых качественная энтропия погружается в средство снаружи.`

[2020-02-21 06:54] #15 closed, assigned to zm1ca

[2020-02-21 06:55] zm1ca commented on #8
учтено в #25

[2020-02-21 06:55] #8 closed, assigned to zm1ca, NikGomel

[2020-02-21 06:59] zm1ca commented on #13
Закрыто в связи с https://github.com/bcryptoregulatory/skzi-requirements/issues/8#issuecomment-585086560

[2020-02-21 06:59] #13 closed, assigned to NikGomel

[2020-02-21 07:12] zm1ca commented on #16
В ходе внутреннего обсуждения была принята позиция: опциональность использования сертификатов учтена с помощью обозначения `[ ]` в Таблице 2. Кроме того, возможно использование средств контроля целостности, не предполагающее издание сертификатов.

[2020-02-21 07:12] #16 closed, assigned to NikGomel

[2020-02-25 14:03] andrewkostevich opened #34 "Требование [Ф2] не входит в область применения средств предварительного шифрования"
К средствам предварительного шифрования выдвигается [Ф2], которое связано только с шифрованием сообщений, обмениваемых с компонентами ИОК, что не входит в область применения средств предварительного шифрования

[2020-02-25 14:25] andrewkostevich opened #35 "Избыточные требования к алгоритмам криптографического токена"
В столбце с требованиями к криптографическим алгоритмам средства указывают только алгоритмы, которые предоставляются пользователю в качестве сервиса: в случае криптографического токена алгоритмы АШ и АИ1 пользователю не предоставляются и носят внутренний служебный характер

[2020-02-25 14:27] andrewkostevich opened #36 "Неполная ссылка на BPACE в ПА1"
В СТБ 34.101.79 BPACE не определяется, BPACE описан в СТБ 34.101.66,

[2020-02-25 14:31] andrewkostevich opened #37 "Убрать иностранные криптографические алгоритмы из требования ПИ"
Ссылка на СТБ 34.101.21 в полном объеме включает ссылку на иностранные криптографические алгоритмы

[2020-02-25 14:36] andrewkostevich opened #38 "Требование [Ф2] для криптографического токена неоднозначно"
Требования по форматам средств выработки ЭЦП и токенов должны совпадать: требование [Ф2] для средств выработки ЭЦП нет, следовательно не должно быть и у токенов

[2020-02-26 06:49] zm1ca opened #40 "Необходимость Ф1 и Ф3"
Встаёт вопрос о статусе требований Ф1 и Ф3, в связи с тем что они:
1. Дублированы в Ф2 и Ф4
2. Содержатся в квадратных скобках

Выходит, что в случае, когда они обязательны (то есть в рамках ИОК), становятся актуальными требования Ф2 и Ф4, поглощающие их.

**предлагается**: убрать Ф1 и Ф3 и передать их названия механизмам Ф2 и Ф4 соответственно (.т.к. они более ёмкие)

[2020-02-26 06:55] zm1ca commented on #38
Согласен. Полагаю, это связано с #35 и наличием механизма АШ (в текущей редакции).

[2020-02-26 07:07] zm1ca commented on #35
Поддерживаю. Возникает вопрос также и по алгоритмам хэширования в средствах выработки, поверки ЭЦП и токенах. Все ли сертифицированные средства этих классов способны предоставить пользователю возможность вычислить хэш?

upd. перенос темы хешей в #44

[2020-02-26 07:30] zm1ca commented on #36
Действительно, в 79 стандарте протокол скорее профилирован. Следуя логике описания механизмов Ф1 и Ф2 (в редакции #41 ), предлагаю определить ПА1 в виде:

`ПА1 | парольная аутентификация по протоколу ВРАСЕ | СТБ 34.101.66-2014 (п. 7.6 раздела 7), СТБ 34.101.79-2019 (п. 8.3 раздела 8)`

[2020-02-26 07:50] andrewkostevich commented on #37
Раздел 12 стандарта включает описание механизмов для **37** иностранных криптографических алгоритмов, включение в пункт ПИ требований стандарта в полном объеме является некорректным

[2020-02-26 07:58] andrewkostevich commented on #34
Требование [Ф2] сужает требования СТБ 34.101.23 - оставляет только KeyTransRecipientInfo и запрещает остальные типы, в частности тип KEKRecipientInfo, который как раз предназначен для средств предварительного шифрования с предварительно распределенным ключом (обращаю внимание, что данный тип СПШ упоминается в примечании 3 к приказу) - требование [Ф2] должно быть исключено из требований к средствам

[2020-02-26 08:04] andrewkostevich commented on #40
Вопрос интерпретации требований Ф2 и Ф4: требования Ф2 и Ф4 **сужают** область действия Ф1  и Ф3 (см. обсуждение в #34 для Ф2) - исключение Ф1 и Ф3 нецелесообразно

[2020-02-26 08:26] zm1ca commented on #40
Да, сужают, описывая применение в рамках PKI. Но если мы не требуем соблюдать данные форматы вне PKI, нужны ли нам "широкие", но необязательные механизмы? Необходимость профилирования, конечно, больше касается формата подписанных данных. Что касается формата конвертованных данных, в каких случаях это требования можно предъявлять как обязательное.

[2020-02-26 08:57] andrewkostevich opened #43 "Защита контейнера при условии"
Требование УЗ2 включает СТБ 34.101.78-2019 (пп. 11.2-11.5 раздела 11). Если посмотреть на п. 11.1  СТБ 34.101.78-2019 то можно видеть, что требование по разделению секрета для ключевого контейнера является условным, так как есть два варианта

1.  Аппаратная защита контейнера на носителе ключевой информации

2 . Защита контейнера с использованием разделения секрета

пароля следует использовать высо

[2020-02-26 11:11] zm1ca commented on #43
Да, такая безусловность была создана умышленно, поскольку требование УЗ2 предъявляется только к программным средствам выработки ЭЦП. Разработчикам предлагается использовать разделение секрета, чтобы решить вопрос защиты ключа с помощью разрабатываемого средства, а не перекладывать эту задачу на аппаратную платформу, в которой функционирует программа. Ближайший пример -- телефон, механизмы безопасн

[2020-02-26 11:28] zm1ca opened #44 "Связка АП2 + АХ1 или АХ2"
В ряде маршрутов используется связка `АП2, АХ1 или АХ2`. Стоит рассмотреть вопрос целесообразности включения `АХ1 или АХ2`:
1. АП2 включает belt-hash (АХ1) как вспомогательный алгоритм.
2. Вряд ли алгоритмы хеширования предоставляются пользователю как сервисы.
3. Возможно, включение АХ2 было временной мерой (на этапе формирования таблицы).

[2020-02-26 11:36] zm1ca commented on #44
Кроме того, можно перенести "или" в механизмы, создав
`АХ | хэширование по алгоритму belt-hash или bash | СТБ 34.101.31-2011 (п. 6.9 раздела 6) или
СТБ 34.101.77-2016 (1=128 или 1=192 или 1=256)`

[2020-02-26 12:22] zm1ca commented on #44
Требования к алгоритмам хеширования включены для конкретизации выбора h, поскольку требования п. 5.5 хоть и включают в себя слова `функция h должна быть алгоритмически определена в ТНПА` не видятся нам достаточными на данный момент.

[2020-02-26 12:31] zm1ca commented on #40
Отвечая на свой вопрос: возможно действительно нужны, поскольку требования в квадратных скобках обязательны не в рамках PKI, но и в рамках межведомственного взаимодействия.

[2020-02-26 12:33] #40 closed, assigned to zm1ca, NikGomel

[2020-02-28 15:03] Siarhei-St commented on #43
Следует учесть вариант, когда для аппаратной защиты контейнера приведенной в п.11.1 СТБ 34.101.78-2019 используется сертифицированный аппаратный носитель ключевой информации. В этом случае все используемые механизмы безопасности описаны и компетентно проверены.
Т.о. поддерживаю предложение andrewkostevich :
"Как вариант, УЗ1, УЗ2 заменить на УЗ - СТБ 34.101.78-2019 (пп. 11.1-11.5 раздела 11)"

[2020-03-02 06:36] #36 closed, assigned to zm1ca

[2020-03-02 06:40] #38 closed, assigned to NikGomel

[2020-03-02 06:47] NikGomel commented on #44
Предлагаю убрать алгоритм хэширования из средств проверки и выборки ЭЦП, так как он не предоставляется как сервис.

[2020-03-02 08:09] zm1ca commented on #43
Да, доверить аппаратную защиту сертифицированному средству было бы возможно. Нужно продумать как учесть данный случай, но при этом не допустить злоупотребления (как в примере с телефоном). Готовы рассмотреть более компромиссные предложения.

[2020-03-02 08:11] andrewkostevich opened #45 "Неполная классификация типов СКЗИ: не хватает средства защиты от НСД для ключевой информации"
Дискуссия в #43 показала на неполноту классификации средств ЭЦП.

Имеется классификация
1. Программные средства ЭЦП с защитой личного ключа через разделение секрета
1. Программно-аппаратные средства ЭЦП путем выполнения операций с личным ключом внутри аппаратной платформы

и дискуссия #43 показала что есть

3. Программные средства ЭЦП с защитой личного ключа средствами носителя ключевой информации

[2020-03-02 08:11] zm1ca commented on #37
Необходимо всесторонне оценить сложившуюся ситуацию и выработать варианты решений. Если у Вас есть конкретные предложения -- с интересом рассмотрим в ближайшее время.

[2020-03-02 08:12] andrewkostevich commented on #43
Предложения в #45

[2020-03-02 08:18] zm1ca commented on #34
Модернизация ИОК будет проводиться с упором на СТБ 34.101.78-2019. Следовательно, если данный стандарт умышленно ограничивает использование СПШ с предварительно распределенным ключом в рамках ИОК -- так и должно быть. В то же время, использование средств указанного типа в ИОК регулируется (в отношении форматов) механизмом Ф1, не запрещающим использование `KEKRecipientInfo`.

[2020-03-03 06:43] #34 closed, assigned to NikGomel

[2020-03-03 06:44] #37 closed, assigned to NikGomel

[2020-03-03 07:18] zm1ca commented on #35
В ходе обсуждения по #45 вновь возник вопрос о том, как классифицировать алгоритм шифрования (основным или служебным), если основной или одной из ключевых функций устройства (средства защиты НСД + криптографический токен) является хранение информации в зашифрованном виде. Если новый маршрут будет создан, необходимо обеспечить последовательность в принятии решений в обоих указанных случаях.

[2020-03-03 07:46] zm1ca commented on #45
В таком случае ключевым (в отношении аутентификации) становится механизм защиты ключа на пароле, который _отсутствует_ в предлагаемом маршруте, что странно. Раз средство не нагружено внутренним функционалом, оно должно понимать, кому делегирует выполнение некоторой  работы с объектом защиты.

[2020-03-03 09:57] zm1ca commented on #43
Предлагается принять изменения частично: УЗ2 изложить в виде` СТБ 34.101.78-2019 (раздел 11), СТБ 34.101.45-2013 (приложение Е)`. Программное СКЗИ может осуществлять аппаратные методы защиты, при условии соблюдения требования ЗО.5 СТБ 34.101.27-2011. Парольная же защита должна быть обеспечена с применением СТБ 34.101.45-2013 (приложение Е), с учётом требований п.11.1 СТБ  34.101.78-2019 и ИА.5 (ка

[2020-03-03 11:33] NikGomel opened #50 "Предлагается создать профиль требований для УЦ и РЦ"
К УЦ и РЦ будут предъявляться требования определенные Приказом ОАЦ от 29.11.2013 №89

[2020-03-03 11:56] zm1ca commented on #50
Требований к РЦ можно добиться объединением маршрутов средств выработки, проверки ЭЦП и генерации ключей, так что данный маршрут плохо ложится в логику таблицы как отдельный.

[2020-03-03 12:02] zm1ca commented on #50
Текущее предложение от @NikGomel реализованное в #51

|Средства криптографической защиты информации | Требования к криптографическим алгоритмам | Требования к криптографическим протоколам и управлению ключами | Требования безопасности | Требования к форматам данных |
| --- | --- | --- | --- | --- |
| Удостоверяющий центр | (АШ, АИ1 или АИ2) или АШИ, АП2, АХ1, АХ2  | УГ, ПТ, УЗ1, УК3, УК4, УС1, УС2

[2020-03-03 14:53] Siarhei-St commented on #43
Возникает на мой взгляд противоречие. С одной стороны мы готовы "доверить аппаратную защиту сертифицированному средству", с другой стороны не определяя в "Профилях"  требования через набор ТНПА взаимосвязанных с ТехРегламентом к данному средству защиты информации, мы не позволяем разработчикам создать сертифицированный на соответствие  ТехРегламенту защищенный аппаратный носитель с конкретными и п

[2020-03-03 16:04] agievich commented on #43
Выдвигается: см. последний абзац пункта.

[2020-03-03 16:11] agievich commented on #45
В чем разница между 1 и 2? Здесь НКИ понимается шире, чем контейнер с личным ключом, записанный на определенный накопитель?

[2020-03-03 16:32] agievich commented on #24
Не следует привязываться к пунктам стандартов. Стандарты меняются, пункты плывут. Скоро будет запущено обсуждение новой редакции СТБ 34.101.31. Совсем другие пункты.

В новых редакциях стандартов мы, наоборот, отвязываемся от пунктов, делаем ставку на имена (`belt-ecb`, `bign-sign`, etc.). Понятно, что это можно сделать не всегда, у некоторых механизмов нет имен. В связи с этим таблица 1 имеет важ

[2020-03-03 16:34] agievich commented on #24
Упрощение Таблицы 2 (объединение столбцов, упразднение последнего столбца) поддерживаю.

[2020-03-03 16:58] zm1ca commented on #43
В таком случае, считаю возможным внести изменения #49 и закрыть данный вопрос. Что касается вопроса доказательства доверенности аппаратного носителя -- обсуждение де-факто перенесено в  #45 , где предложен вариант решения данной проблемы путём введения нового маршрута сертификации для специализированных средств.

[2020-03-03 17:11] zm1ca commented on #45
Отвечая на https://github.com/bcryptoregulatory/skzi-requirements/issues/43#issuecomment-593991158 замечу, что в https://github.com/bcryptoregulatory/skzi-requirements/issues/43#issuecomment-593273232 допускалась возможность делегирования аппаратной защиты ключа сертифицированному средству. Предлагаемое лицензиатом решение предполагает сертификацию данного средства как СКЗИ.

Мы же склоняемся к сл

[2020-03-04 07:38] Siarhei-St commented on #45
Раздел 4.7 СТБ 34.101.27-2011 описывает перечень методов защиты  объектов как перечень  **возможных** методов, но не обязательных. Т.о. метод ЗО.5 может не предъявляться разработчиком. Разработчиком могут быть заявлены рекомендуемые в СТБ 34.101.27-2011 криптографические  методы ЗО.3 и ЗО.4 с последующем "размещением контейнера личного ключа где-то у пользователя" на диске ПЭВМ или USB-флешке.
Тем

[2020-03-04 07:52] zm1ca commented on #45
Согласно https://github.com/bcryptoregulatory/skzi-requirements/issues/43#issue-571170902 (в частности) требования СТБ 34.101.78-2019 предоставляют только два варианта, которые, в терминах п.4.7. СТБ 34.101.27-2011, описаны в ЗО.5 и ЗО.6. Да, в указанном пункте перечисляются и другие механизмы защиты, что логично, поскольку стандарт носит общий характер. СТБ 34.101.78-2019 профилирует его в данном

[2020-03-04 09:31] Siarhei-St commented on #45
СТБ 34.101.78-2019 содержит два варианта аппаратной защиты контейнера : по паролю (СТБ 34.101.45,  приложение Е) и с помощью высокоэнтропийного ключа с защитой по СТБ 34.101.60. При этом требования к самой аппаратной платформе как к СЗИ в первом случае не уточняются, например, по отчуждаемости от ПЭВМ и т.д. (некое устройство) , а во втором не заявлена вообще. В таком случае формально не будет про

[2020-03-04 12:55] #44 closed, assigned to zm1ca

[2020-03-04 12:57] #43 closed, assigned to zm1ca

[2020-03-04 14:36] zm1ca commented on #24
Согласен. Кроме того, чтобы разобраться в том, какие же механизмы требуется реализовать в средстве в случае отказа от Таблицы 1, придётся иметь под рукой чуть ли не все стандарты (или запоминать, какой пункт какого стандарта означает какой механизм).

[2020-03-05 09:21] zm1ca commented on #24
Полагаю, снизить необходимость в переходах между таблицами 1 и 2 можно изменив обозначения на более осмысленные. Так, например, замена обозначений: AШ = belt, AИ1 = belt-mac, АИ2 = hmac, АШИ - belt-datawrap, УГ = rng, УК1 = keyrep, УК5 = keytransport, ПФ3 = bsts-bmqv, УС2 = x509, УС3 = crl, УС4 = ocsp, Б1 = sotfware, Б2 = hardware, Ф1 = enveloped, приведёт к следующему виду профиля для средств пре

[2020-03-05 09:37] #35 closed, assigned to zm1ca, NikGomel

[2020-03-05 12:23] agievich commented on #24
В целом поддерживаю. Мы систему имен (namespace) давно продвигаем. Считаем, что без имен (слов) трудно и разговаривать, и создавать нормативные документы.  Получаются сплошные бюрократизмы в стиле "п. 6.9 СТБ 34.101.31-2011".

"То, что не названо, -- не существует."

Детали:
1. Желательно снабжать каждое имя префиксом, который указывает на стандарт: `cms-signed`, `belt-keyrep`. Больше ясности и ед

[2020-03-05 15:22] zm1ca commented on #24
Прошу всех ознакомиться с [новым видением таблиц](https://github.com/bcryptoregulatory/skzi-requirements/blob/verbal-based-approach/skzi-requirements.md). Упор сделан на возможность понимания маршрутов с минимальной необходимостью переключаться между несколькими таблицами, а также минимальной привязкой к пунктам стандартов.

Даже если у вас нет конкретных предложений по улучшению данной таблицы, у

[2020-03-06 08:45] agievich commented on #24
Шаги по унификации имен:
- software -> skzi-sw;
- hardware -> skzi-hw;
- belt -> belt-encr или belt-modes;
- bign-with-hbelt -> bign-sign (без детализации фх; фх дополнительно детализируется в таблице 2);
- hmac -> brng-hmac (для единообразия, первая лексема всегда указывает на стандарт);
- bash -> bash-hash (в стандарте bash будут еще другие алгоритмы);
- 1176-dsa -> stb1176-sign;
- tls -> btls;

[2020-03-08 12:12] enigmaby opened #54 "Генерация ключей"
Считаем необходимым строго установить требования по использованию физического источника шума в программно-аппаратных средствах защиты информации и смягчить данные требования только лишь в программных продуктах.  Генерация личных ключей (секретных параметров ДПСЧ) должна производиться только с использованием сертифицированных программно-аппаратных средств.

[2020-03-08 12:41] zenkuro commented on #54
А если я сам хочу сгенерировать себе ключ и не доверяю сертифицированным продуктам?
Не будет ли это исключать/влиять https://github.com/bcrypto/bpki/releases/download/v1.20/bpki.pdf пункт 9.2.1 Enroll1?

[2020-03-08 19:05] zm1ca commented on #54
Дублирует #15

[2020-03-09 06:36] zm1ca commented on #24
Принято в https://github.com/bcryptoregulatory/skzi-requirements/commit/9d2fde659986d8a230f32f43dad8032ea600a758 за исключением:
- software -> skzi-sw; (нужно обладать специфическими знаниями, чтобы разобраться что имелось ввиду)
- hardware -> skzi-hw;
- dhX-XXX -> btls-dhX-XXX; (алгоритмов много, и перечисляются они через запятую. изменение этих обозначений раздует таблицу)
- brng разделить на sk

[2020-03-09 06:45] zm1ca commented on #54
Вопрос в юридической значимости ЭЦП, генерируемой без использования физического датчика. Возможно, закрывается введением маршрута УЦ (что крайне вероятно) https://github.com/bcryptoregulatory/skzi-requirements/pull/51/files

[2020-03-11 08:11] #24 closed, assigned to NikGomel

[2020-03-11 08:40] agievich commented on #54
Требование по использованию физического источника случайности -- это один из триггеров СТБ 34.101.27 при переходе от уровня (класса) 1 к уровню (классу) 2. Понятно, что требование будет сохраняться и на планируемых уровнях 3, 4.

См. https://github.com/bcrypto/skzi/issues/8.

[2020-03-11 08:43] agievich commented on #50
Разве УЦ и РЦ -- это СКЗИ? Думаю, что нет. Это системы, построенные с использованием СКЗИ.

[2020-03-11 12:41] NikGomel opened #55 "Требования к терминалу"
|Средства криптографической защиты информации | Требования к криптографическим алгоритмам | Требования к криптографическим протоколам и управлению ключами | Требования безопасности | Требования к форматам данных |
| --- | --- | --- | --- | --- |
| Терминал взаимодействия с криптографическим токеном | АШ, АИ1 | УГ, УК1, ПФ2, УС7 | Б1, Б2  |       |

[2020-03-11 12:49] NikGomel commented on #50
Данные требования вынесены для предъявления  к лицензиатам, оказывающим услуги по распространению открытых ключей, а также аккредитации поставщиков ГосСУОК, чтобы их не указывать в Приказах ОАЦ.

[2020-03-11 13:37] #50 closed, assigned to NikGomel

[2020-03-18 07:02] zm1ca opened #56 "Привести таблицы в соответствие с 77 приказом"
Требуется актуализация требований.

[2020-03-18 07:04] zm1ca opened #57 "Помощник для составления заявок"
Требования, изложенные в 77 приказе, выглядят критически сложно для восприятия, поэтому необходимо разработать программу-ассистент для составления заявок на сертификацию СКЗИ.

[2020-03-18 07:04] zm1ca commented on #55
Реализовано в приказе. Будет актуализировано в #56

[2020-03-18 07:04] #55 closed, assigned to NikGomel

[2020-09-08 13:21] zm1ca commented on #57
https://github.com/zm1ca/SKZI-requestAssistant

Крайне сырая версия, однако может оказать существенную помощь уже сейчас.

[2020-09-15 08:45] zm1ca commented on #57
https://github.com/zm1ca/SKZI-requestAssistant/releases/tag/v0.1

Основной функционал (проверка заявок) уже работает и будет применяться в тестовом режиме. Если у Вас есть возможность запустить данное средство -- буду рад любым отзывам/критике. О дальшейшем развитии проекта можно будет сделить в соответствующем репозитории.

![Иллюстрации](https://i.ibb.co/St3WNn3/imgonline-com-ua-Collage-U1sq-ZVW

[2020-09-15 08:45] #57 closed, assigned to zm1ca